page-detail-product {
    .content-md {
        background: white;
    }

    .item-md {
        background: white;
    }

    .name {
        font-size: 20px;
        font-weight: bold;
        margin-top: 0;
    }

    .price {
        font-size: 14px;
        color: gray;
    }
}
