page-list-product {
    .content-md {
        background: white;
    }

    .item-md {
        background: white;
        padding-left: 0;
    }

    .button-inner {
        text-transform: capitalize;
    }

    .price {
        color: gray;
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .avatar {
        width: 60px !important;
        height: 60px !important;
    }

    ion-avatar {
        margin-right: 24px !important;
    }
}
